.light-theme {
  .tab-buttons {
    color: #f4f4f4;
    background-color: #387ef5;
}
.link {
  color:blue;
  text-transform: lowercase;
  text-decoration: underline;
}

.badge-md {
  border-radius: 10px;
  color: #fff;
  background-color: #43b0ff;
}


  }