// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.bgbar{
 
  background-repeat: no-repeat;
  width: 100%;
  height: 20%;
  background-size: cover;
}

.bgbar1{
  
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: cover;
}

.bar-button-md {
  margin: 0 0.2rem;
  padding: 0px 10px;
  border-radius: 2px;
  height: 32px;
  border: 0;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
}

.avatarimg{
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  width: 100%;
}

/* .toolbar-md-bgback .toolbar-background-md {
  background: #ffffff;
} */

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}
.ripple:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}

.tileimage{
  background-repeat: round;
  background-size: contain;
  height: 180px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}
img {
  max-width: 100%;
  min-height: 80%;
  border: 0;
}

ion-fab[bottom] {
  bottom: 60px;
}

.menu-inner {
  width: 320px;
}
.toolbar-title-md {
 
  font-size: 18px;
  
  color: #f4f4f4;
}

.popover-content{
  top: 13.5px;
  left: 203px;
  transform-origin: right top 0px;
  transform: scale(1);
}
ion-label{
  white-space: normal;
}

.back-button-md {
  margin: 0 6px;
  min-width: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

ion-searchbar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 95%;
  left: 0%;
}

.popover-md .popover-content {
  border-radius: 2px;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  width: 203px;
  min-width: 0;
  min-height: 0;
  max-height: 90%;
  color: #000;
  background: #fff;
  -webkit-box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.3);
}

.fab-md-in-list {
  color: #fff;
  background-color: #387ef5;
}

 .img-loaded + ion-spinner {
  display:none;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  color: #fcfdff;
  background-color: transparent;
}



 .toolbar-background-md {
  border-color: #b2b2b2;
  background: #387ef5;
}


.toolbar-md-bgback .toolbar-background-md {
  background: #ffffff;
}

ion-header {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
}

.grid{
  padding: 0px !important;
}

[col-4] {
  padding: 1px !important;
}

.alert-md .alert-title {
  font-size: 18px !important;
}

.alert-md .alert-wrapper {
  border-radius: 20px !important;
  max-width: 280px;
  background-color: #fafafa;
  -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.3em;
  vertical-align: -15%;
}

.scroll-content {
  background: #ffffff;
  padding:0px !important; 
 
}
.tab-buttons{
  color: #f4f4f4;
  background-color: #3f51b5;
}

.button-md-primary{
  background-color: #ffec14;
}

@font-face {
  font-family: Barrio;
  src: url('../assets/fonts/barrio.woff2') format('woff2');
}

 
ion-auto-complete {
  width: 100vw;
}
ion-auto-complete ul {
  left: 0px;
}


#notification-button {            
  position: relative;
  width: 42px;
  top:1px;
  right: 1px;
  overflow: visible!important;
}


#notifications-badge {
  background-color: #3f51b5;
  position: absolute;
  top: 0px;
  border-radius: 30%;
  margin-top: 0px;
}

[padding] h1:first-child, [padding] h2:first-child, [padding] h3:first-child, 
[padding] h4:first-child, [padding] h5:first-child, [padding] h6:first-child {
   margin-top: 0px !important; 
}



$offset: 187;
$duration: 1.4s;

.spinner1 {
  animation: rotator $duration linear infinite;
}

.spinner-md-crescent circle {
  stroke: #387ef5;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}

.subspinner{
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    margin-top: 64%;
    position: absolute;
    z-index: 999;
    margin-left: 43%;
}

.toast-md .toast-message {
  font-size: 1.5rem;
  color: #fff;
  padding: 19px 16px 17px;
  width: 75%;
}

.toast-button {
  color: #fff;
  width: 2;
  width: 25%;
}


