<ion-header>

  <ion-navbar>
    <ion-buttons start *ngIf="hasRecognitionAvailable==true">
      <button ion-button style="font-size: 20px;" (click)="listenmic()">
            <ion-icon name="mic"></ion-icon>
        </button>
    </ion-buttons>

    <ion-searchbar [(ngModel)]="textinput" (ionInput)="getItems($event.target.value)" 
    [animated]="animated" spellcheck="true"
      #searchbar>


    </ion-searchbar>

  </ion-navbar>

</ion-header>



<ion-content padding #container [ngClass]="(darkui)?'darkcolor':'litecolor'">
  <div>
    <ion-spinner color="spinner" name="crescent" *ngIf="asyncCall == true" 
    style="top: 50%;left: 50%; margin-top: 5px;margin-left: -14px;">
    </ion-spinner>
  </div>

  <ion-list>
    <ion-item *ngFor="let movie of movielist" (click)="openMoviePage(movie)">
      <ion-thumbnail item-start>

        <div class="tileimage" [lazyLoad]="movie.medium_cover_image" 
        [scrollTarget]="container.getScrollElement()"
         [defaultImage]="defaultImage"
         [errorImage]="defaultImage" 
        [scrollObservable]="container.ionScroll"
          style="background-repeat: no-repeat;
           background-size: contain;
           height: 107px;
           width: 100%;">

        </div>

     

      </ion-thumbnail>
      <h2>{{movie.title_long}}</h2>
      <p>Imdb : {{movie.rating}}</p>
    </ion-item>
  </ion-list>
  <ion-item text-wrap *ngIf="showText">No movies found related to your search , Try again with complete words !!!</ion-item>
 <!--  <ion-fab bottom right>
    
            <button ion-fab (click) = "openSettings()" class="animated zoomIn">
                <ion-icon ios="ios-settings" md="md-settings"></ion-icon>
            </button>
    
        </ion-fab> -->
</ion-content>